.custom-navbar {
    background-color: #68FE9A;
    /* set your desired background color */
}


.profileButtonImage {
    width: 1.5em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: contain;
    background-color: #fff;
}