.custom-navbar {
    background-color: #68FE9A;
}

.dropdownButton {
    background-color: transparent;
    border: none;
}

.dropdownButton:hover {
    background-color: transparent;
    border: none;
}

.profileButtonImage {
    width: 2em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}