.detailsButton {
    height: 1.5em;
    aspect-ratio: 1/1;
}

.userAvatar {
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 5px solid #8956F1;
}

.friendAvatar {
    width: 3em;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}