.splitButton {
    background-color: #060606;
    color: white;
    text-decoration: none;
}

.splitButton:hover {
    background-color: #060606;
    color: #68FE9A;
    box-shadow: 0px 0px 50px 20px rgba(104, 254, 154, 0.75);
}

.event-font-color{
    color: black
}

.event-card {
  width: 200px;
}
