/* 
Colores base
- Black: #060606 
- Grey: #24272C
- Wite bone: #FEFAF1
- Spring green: #68FE9A
- Purple: #8956F1
*/

a {
  text-decoration: none;

}

.App {
  background-color: #24272C;
    color:#FEFEF1 ;
}

.nav-link:not(.active) {
     color:#FEFEF1 ; 
}

.footer-heigth {
    min-height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color {
  color:#FEFEF1
}

.white-icon {
  filter: invert(1);
}

.green-button{
  background-color: #68fe9A;
  color: #060606;
}