/* 
Colores base
- Black: #060606 
- Grey: #24272C
- Wite bone: #FEFAF1
- Spring green: #68FE9A
- Purple: #8956F1
*/

a {
  text-decoration: none;
}

.nav-link:not(.active) {
  color: #24272C;
}

.footer-heigth {
    min-height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}