/* 
Colores base
- Black: #060606 
- Grey: #24272C
- Wite bone: #FEFAF1
- Spring green: #68FE9A
- Purple: #8956F1
*/

a {
  text-decoration: none;
  color: rgb(137, 85, 241)
}

.nav-link:not(.active) {
  color: #24272C;
}

